body {
    /*background-color: #333333; */
    background: radial-gradient(circle at 25% 50%, #444444 0%, #121212 140%);
    font-size: 24px;
    color: white; /* Change default text color */
    font-family: Arial, sans-serif
} html, body {
    height: 300px;
}

#topDiv {
    display: flex;
    margin-bottom: 20px;
    margin-left: 10px;
}
#headline-1 {
    color: rgb(172, 172, 204);
    font-size: 40px;
    position: relative;
    margin-top: 20px;
    width: 333px;
    height: 60px;
    background-color: #64646400;
    border: 4px #202020 solid;
    margin-top: 7px;
    margin-left: -10px;
    padding-top: 9px;
    text-align: center;
}
.TopBar {
    position: absolute;
    top: 0px;
    margin-top: 8px;
}
.TopBarEl {
    width: 333px;
    height: 60px;
    background-color: #505050;
    border: 4px #202020 solid;
    font-size: 40px;
    margin-top: 7px;
    margin-left: -4px;
    padding-top: 9px;
    padding-left: 5px;
    position: absolute;
    cursor: pointer;
    text-decoration: none;
} #TopBar1:hover {
    background-color: #666666;
} #TopBar1:active {
    background-color: #808080;
}
#TopBar2 {
    margin-top: 80px;
} #TopBar2:hover {
    background-color: #666666;
} #TopBar2:active {
    background-color: #808080;
} #TopBar3 {
    margin-top: 150px;
} #TopBar3:hover {
    background-color: #666666;
} #TopBar3:active {
    background-color: #808080;
}
.TopA {
    text-decoration: none;
    color: rgb(205, 205, 236);
}

.LogB {
    font-size: x-large;
    color: #ffffff;
    margin-left: 728px;
    margin-top: 10px;
    background-color: #383568cc;
    height: 44px;
    width: fit-content;
    text-align: center;
    padding: 10px 15px 10px 15px;
    line-height: 14px;
    border: 4px #000000 solid;
    border-radius: 8px;
    cursor: pointer;
}#LoggedIn:hover {
    background-color: #4e4b819f;
}#LoggedIn:active {
    transform: scale(0.98);
}
#LogOut {
    position: absolute;
    top: 45px;
    left: 350px;
    border-radius: 0%;
    width: 147px;
    font-weight: bolder;
}
#LogInBg {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
    background-color: #00000070;
}
#LogInDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 440px;
    height: 380px;
    background-color: #4e4e4e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #868686 8px solid;
    border-radius: 10%;
    text-align: center;
    font-size: 26px;
    line-height: 35px;
} #LogInP {
    margin-top: 10px;
}
.LogInput {
    font-size: x-large;
    width: 250px;
    height: 50px;
    margin-left: 50%;
    margin-top: -10px;
    transform: translate(-50%);
    border: 5px solid;
    border-radius: 5px;
} #PasswordInput {
    margin-top: 5px;
}
#LogIn {
    font-size: xx-large;
    background-color: #45455a;
    color: #c5c5c5;
    padding: 4px 12px;
    cursor: pointer;
    width: 150px;
    margin-left: 50%;
    margin-top: -20px;
    transform: translate(-50%);
} #LogIn[Ready="1"] {
    background-color: #6d6d92;
    color: #ffffff;
    transform: translate(-50%);
} #LogIn:active {
    transform: translate(-50%) scale(0.97);
}
#cancelLogIn {
    width: 120px;
    font-size: x-large;
    margin-top: 10px;
    margin-left: 50%;
    transform: translate(-50%);
    background-color: #bdbdbd;
}
_____________________________
****vvvvvvvvvvvvvvvvvvvvv****
****---------------------****
****/*/*/ CALENDAR /*/*/*****
****---------------------****
****vvvvvvvvvvvvvvvvvvvvv****

#decoy {
    width: 0;
}

#TermText {
    font-size: 48px;
    margin-top: -8px;
    margin-bottom: 10px;
    width: 280px;
    border: #3f496b 6px solid;
    /*text-align: center;*/
    border-radius: 15px;
    box-shadow: 0 0 10px #000000;
}
.TTG {
    width: 58px;
    height: 58px;
    margin: -6px;
    margin-left: -12px;
    cursor: pointer;
}.TTG:active {
    transform: scale(0.95);
}

#AddEventDiv {
    background-color: #767676;
    border: #5b5b5b 4px solid;
    box-shadow: 0 0 20px #000000;
    border-radius: 18px;
    width: 410px;
    height: 95px;
    padding-top: 5px;
    padding-left: 5px;
    position: absolute;
}

#quickText {
    font-size: larger;
}#quickText {
    font-size: larger;
    margin-left: 50px;
    position: absolute;
    left: 340px;
}

#calendarScroll {
    width: 1025px;
    height: 490px;  /* Adjust based on how many weeks you show at once */
    overflow-y:auto;
    padding: 10px;
    box-shadow: 0 0 10px #000000;
    background-color: #2c2c2c;
    border: 6px solid;
    border-color: #000000;
} 
.calendar-grid {
    display: grid;  
    grid-template-columns: 25px repeat(7, 128px); /* extra column for week number */
    gap: 10px;
    padding: 20px;
}
#load_heading {
    width: 1028px;
    height: 130px;
    margin-top: -10px;
    margin-left: -10px;
    position: absolute;
    background-color: #00000071;
}
#loadC {
    font-size: 27px; 
    padding-left: 12px;
    padding-right: 12px;
    background-color: #dddddd;/*#b3b3b3;*/
    cursor: pointer;
    position: absolute;
    margin-top: 10px;
    margin-left: 400px;
    width: 220px;
    height: 60px;
    border: #9b9b9b 5px solid;
}#loadC:hover {
    transform: scale(1.05);
}#loadC:active {
    transform: scale(0.98);
}
#load_message {
    position: absolute;
    left: 410px;
    top: 230px;
    text-align: center;
    font-size: x-large;
    color: #d37474;
}

.day-box {      /* || The main box || */
    width: 130px;
    height: 70px;
    background-color: rgb(85, 85, 85);
    display: flex;
    flex-direction: column; /* Stack vertically */
    align-items: center;
    justify-content: flex-start;
    padding-top: 4px;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.5s;
}
[today="true"] {
    width: 122px;
    height: 62px;
    color: white;
    border: 4px solid;
    border-color: #ffffff;
    border-radius: 14px;
    background-clip: padding-box; 
}
[boxColor="weekend"] {
    background-color: rgb(131, 131, 131);
    color: white;
}
[boxColor="thursday"] {
    background-color: rgb(88, 106, 117);
    color: white;
}
[boxColor="friSports"] {
    background-color: rgb(120, 90, 125);
    color: white;
}
.day-box.active[boxEventColor="red"] {
    background-color: rgb(155, 35, 35);
    color: white;
}
.day-box.active[boxEventColor="or"] {
    background-color: rgb(187, 125, 33);
    color: white;
}
.day-box.active[boxEventColor="grey"] {
    background-color: rgb(131, 131, 131);
    color: white;
} .day-box.active[boxEventColor="purple"] {
    background-color: rgb(159, 129, 170);
    color: white;
} .day-box.active[boxEventColor="green"] {
    background-color: mediumseagreen;
    color: white;
}

.weekDiv {
    width: 55px;
    height: 50px;
    background-color: rgb(40, 82, 76);
    display: flex;
    flex-direction: column; /* Stack vertically */
    align-items: center;
    justify-content: flex-start;
    padding-top: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    border-radius: 30%;
    user-select: none;
    margin-top: 10px;
    margin-left: -25px;
} .weekDiv[weekType="a"] {
    background-color: rgb(66, 128, 118);
}

.day-num {
    font-weight: bold;
    font-size: 25px;
}

.event-text {
    font-size: clamp(8px, 2vw, 18px);
    color: #ffffff;
    margin-top: 0px;
    max-width: 100%;
    line-height: 18px;
}

.event-text-red {
    font-size: 18px;
    color: #ff0000;
    margin-top: 4px;
}

#eventInput {
    width: 200px;
    padding: 5px;
    font-size: 20px;
    background-color: #7a7a7a;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    outline: none;
    margin-bottom: 10px;
    transition: 0.3s;
} #eventInput:focus {
    border-color: #2196F3;
    box-shadow: 0 0 8px rgba(33, 150, 243, 0.5);
    width: 230px;
}

.eventClear {
    height: 35px;
    cursor: pointer;
    font-size: 18px;
    text-indent: -3px;
} .eventClear:active {
    transform: scale(0.98);
    background-color: #d8cbcb;
}

.colorChange {
    width: 60px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    border: #000000 2px solid;
}
#color-green {
    background-color: #4CAF50;
    color: #4CAF50;
} #color-orange {
    background-color: orange;
    color: orange;
} #color-red {
    background-color: rgb(173, 25, 25);
    color: rgb(173, 25, 25);
} #color-grey {
    background-color: rgb(131, 131, 131);
    color: rgb(131, 131, 131);
} #color-purple {
    background-color: rgb(170, 133, 177);
    color: rgb(170, 133, 177);
} #color-clear {
    background-color: rgb(65, 65, 65);
    color: rgb(65, 65, 65);
}
#color-green.toggled { background-color: #3ec743; color:#3ec743; border: 5px solid;}
#color-orange.toggled { background-color: #ffb444; color:#ffb444; border: 5px solid;}
#color-red.toggled { background-color: #ff6458; color:#ff6458; border: 5px solid;}
#color-grey.toggled { background-color: rgb(180, 180, 180); color:rgb(180, 180, 180); border: 5px solid;}
#color-purple.toggled { background-color: rgb(194, 167, 199); color:rgb(194, 167, 199); border: 5px solid;}
#color-clear.toggled { background-color: rgb(100, 100, 100); color:rgb(100, 100, 100); border: 5px solid;}

#saveWarning {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    font-size: 28px;
}

#saveEvent {
    background-color: #b3b3b3;
    width: 180px;
    height: 40px;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    left: 880px;
}
#saveEvent:active {
    background-color: #8b8b96;
    transform: scale(0.98); /* slightly shrink */
}

#STimeAdd {
    position: relative;
    top: 0px;
    left: 0px;
    background-color: #888888;
    color: #121212;
    width: 200px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    padding-right: 2px;
    font-size: 26px;
    border-radius: 20px;
}#STimeAdd:active {
    transform: scale(0.98);
}

#dueList {
    line-height: 20px;
    position: absolute;
    top: 80px;
    left: 1075px;
}
.newDue {
    font-size: 28px;
    font-weight: bold;
    color: #3ec743;
}
.newDue[dueColor="or"] {
    color: #e49f50;
} .newDue[dueColor="red"] {
    color: #e55050;
}

#TimeB {
    background-color: #bb1e1e;
    border-color: #852a2a;
    border-radius: 20px;
    width: 60px;
    height: 42px;
    margin-left: 10px;
    font-size: 30px;
    /*color: #00000000;*/
    cursor: pointer;
    position: absolute;
    line-height: 35px;
} #TimeB:active {
    transform: scale(0.98);
} #TimeD {
    width: 20px;
    height: 20px;
    position: relative;
    top: -31px;
    left: 7px;
    background-color: #00000000;
    border: 5px solid;
    border-color: #880f0f;
    border-radius: 100px;
    cursor: pointer;
    transform: scale(0.98);
}
#Timer {
    line-height: 0%;
}

#TDL {
    width: 600px;
    height: 350px;
    margin-top: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-top: 20px;
    overflow-y:auto;    
    background: radial-gradient(circle at 0% 0%, #555555, #3e3e3e);
    border: black 6px solid;
    box-shadow: 0 0 10px #000000;
}

#TDL_MainText {
    line-height: 0%;
    margin-top: 15px;
}

body {
    background-color: #333;
    font-size: x-large;
    font-family: arial;
    color: white;
}

.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 5px;
}

.checkbox {
    transform: scale(1.4);  
    color: #ccc;
}
.custom-text {
    margin-left: 10px;
    color: #eee;
    transition: color 0.2s;
    user-select: none;
}

/* Hover effect on just the checkbox box */
.checkbox-container:hover {
    color: #eee;
    transition: 0.2s;
}
.checkbox-container input:checked + .custom-text {
    text-decoration: line-through;
    color: gray;
}
.add_TDL {
    align-items: center;
    color: #ffffff;
    background-color: #888;
    border: #252525 2px solid;
} #TDL_button {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    font-size: 40px;
    line-height: 28px;
    justify-content: center;
    text-indent: -4px;
    cursor: pointer;
    margin-left: -4px;
} #TDL_button:hover {
    background-color: #aaa;
} #TDL_button:active {
    transform: scale(0.97);
}
#TDLInput {
    width: 200px;
    height: 32px;
    transform: translate(-5%, -23%);
    border-radius: 8px;
    padding-left: 10px;
    font-size: 20px;
    margin-left: 10px;
} #TDLInput::placeholder {
    color: #eee;
} #TDLInput:hover {
    background-color: #999;
} #TDLInput:focus {
    outline: none;
    background-color: #aaa;
}
#TDLInput2 {
    width: 30px;
    height: 32px;
    transform: translate(-28%, -23%);
    border-radius: 8px;
    padding-left: 10px;
    font-size: 20px;
} #TDLInput2::placeholder {
    color: #eee;
} #TDLInput2:hover {
    background-color: #999;
} #TDLInput2:focus {
    outline: none;
    background-color: #aaa;
}
#TDLAddEnd {
    height: 38px;
    transform: translate(-50%, -23%);
    border-radius: 8px;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
} #TDLAddEnd:hover {
    background-color: #aaa;
} #TDLAddEnd:active {
    transform: translate(-50%, -23%);
    background-color: #bbb;
}

#TDL_del_button {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    font-size: 40px;
    line-height: 10px;
    justify-content: center;
    text-indent: -2px;
    cursor: pointer;
    margin-left: -4px;
} #TDL_del_button:hover {
    background-color: #aaa;
} #TDL_del_button:active {
    transform: scale(0.97);
}

#AddEvent {
    font-size:x-large;
    background-color: #333388bb;
    border: #000000 5px solid;
    border-radius: 10px;
    position: absolute;
    color: white;
    cursor: pointer;
}
___________________________
|\|~*******************~|\|
|\|~**   ~   *   ~   **~|\|
|\|~**     GAMES     **~|\|
|\|~**   ~   *   ~   **~|\|
|\|~*******************~|\|


#nan{animation: 1}

#SnakeDiv {
    display: flex;
    margin-left: 40px;
}
#Info-Snake {
    margin-left: 20px;
    background-color: #b4b4b4;
    border: #3a2700 10px solid;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 5px;
    height: max-content;
    font-size: 26px;
}

#Game-Snake {
    width: 600px;
    height: 600px;
    border: #463000 15px solid;
    border-radius: 20px;
}

#Play-Snake {
    width: 200px;
    height: 200px;
    background-color: #cfcfcfa9;
    position: relative;
    top: -66.7%;
    left: 33.3%;
    border-radius: 35px;
    transform: scale(1);
} #Play-Snake:hover {
    transform: scale(1.1);
}

#SnakeGrid {
    display: flex;
    padding: 0px;
    background-color: #000000;
    width: 600px;
    height: 600px;
    position: relative;
}
.SnakeSquare {
    left: 0px;
    width: 50px;
    height: 50px;
    position: absolute;
}.SnakeHeadSquare {
    background-color: #00ff30;
    left: 0px;
    width: 50px;
    height: 50px;
    position: absolute;
}.SnakeAppleSquare {
    background-color: #d80000;
    left: 0px;
    width: 50px;
    height: 50px;
    position: absolute;
}#Snake_Score {
    position: absolute;
    left: 275px;
    top: 50px;
    font-size: 70px;
}
